@media (min-width 0)
    html
        font-size $mobile-font-size

@media (min-width 991px)
    html
        font-size $tablet-font-size

@media (min-width 1280px)
    html
        font-size $laptop-font-size

@media (min-width 1920px)
    html
        font-size $desktop-font-size

body
    color $text-color
    font-family $main-font


.font-weight_light
    font-weight 300