.justify-content
    &_flex-start
        justify-content flex-start

    &_flex-end
        justify-content flex-end

    &_center
        justify-content center

    &_space-between
        justify-content space-between

    &_space-around
        justify-content space-around


.justify-self
    &_flex-start
        justify-self flex-start

    &_flex-end
        justify-self flex-end

    &_center
        justify-self center

    &_space-between
        justify-self space-between

    &_space-around
        justify-self space-around


.align-items
    &_flex-start
        align-items flex-start

    &_flex-end
        align-items flex-end

    &_center
        align-items center

    &_space-between
        align-items space-between

    &_space-around
        align-items space-around


.align-self
    &_flex-start
        align-self flex-start

    &_flex-end
        align-self flex-end

    &_center
        align-self center

    &_space-between
        align-self space-between

    &_space-around
        align-self space-around

.flex-direction
    &_row
        flex-direction row

    &_row-reverse
        flex-direction row-reverse

    &_col
        flex-direction column

.width_flex
    display flex
    flex-grow 1
