.fas,
.fab
    font-family "Font Awesome 5 Free" !important

.font-weight

    &_normal
        font-weight normal

    &_lighter
        font-weight lighter

    &_bolder
        font-weight bolder

    &_bold
        font-weight bold


.text-align

    &_left
        text-align left

    &_center
        text-align center

    &_right
        text-align right

    &_justify
        text-align justify

.text-transform

    &_uppercase
        text-transform uppercase
