.soc-icons
    & > a
        margin-right 2.2666666666666666rem

.form-block
    width calc(28.571428571428573vw + 4.666666666666667rem)
    // width calc(100% / 12 * 5 + 220px)

.buttons-wrapper
    display flex
    justify-content stretch

    & > div
        width 100%
        display flex
        justify-content center

        &.justify-content_flex-end
            justify-content flex-end

.contact-block
    margin-left calc(100% / 12 * 2 + 150px)
    width calc(100% / 12 * 5)


.contact-block__text
    font-size $input-font-size
    line-height 2


.row
    .col.contact-col-left
        width 57.14285714285714vw

    .col.contact-col-right
        width 42.85714285714286vw


@media (max-width 991px)
    #contact .row
        display block

        .page-heading
            font-size 4rem

        & > .col
            width 100%
            height 100%

    .contact-block
        margin-left 0
        padding 0 3.33333rem
        width 100%

        & .soc-icons
            display flex
            justify-content space-between

            & > a
                font-size 3.07rem
                margin-right 0

    .form-block
        padding 0 3.33333rem
        width 100%
        margin-bottom 3.33333rem

