.bottom-desc
    position absolute
    bottom 50px
    left calc(100% / 12 + 100px)
    width calc(100% - (100% / 12 + 100px))

.home-text
    margin-left calc(100% / 12 * 2 + 150px)
    margin-top 10rem
    width 25vw
    font-size $input-font-size



.row .col.home-col-left
    width 41.666666666666664%


.row .col.home-col-right
    width 58.333333333333336%
    position relative


.preview
    position absolute
    bottom 0
    padding-top 100%
    left 0
    width 100%
    max-height 100%
    background-size 90%
    background-position bottom
    background-repeat no-repeat
    background-image url('../../img/kk3.png')

.page-heading
    line-height 2
    font-size 3.6rem
    margin 0

@media (min-width 992px)
    .page-heading
        line-height 1.5
        font-size 3.2rem

@media (max-width 991px)
    #home
        .year
            display none

        & .preview
            position absolute
            width 100%
            height 100%
            background-position center
            background-size cover
            padding-top unset
            z-index -1

        & .page-heading
            color $text-color
            font-size 3rem

        & .top-text
            flex-direction column

            & > .line
                margin-top 1.5rem

        & .row
            display block
            position relative

            & .col.home-col-left,
            & .col.home-col-right
                width 100%
                height 100%
                flex-direction column

            & .col.home-col-right
                position absolute
                top 0
                left 0

        & .bottom-desc
            bottom 3.33333rem
            left unset
            width 100%
            padding 0
            font-size 1.1rem

            & > .line-text
                margin-left 3.33333rem

            & > .line
                margin-right 3.33333rem

        & .home-text
            margin-left unset
            margin-top 3rem
            width auto
            padding 0 3.33333rem
            font-size $button-font-size

