button
    background-color transparent
    color $color-accent
    font-weight bold
    font-family $main-font
    font-size 2rem
    padding 0
    margin 0
    border none
    outline none
    box-shadow none
    cursor pointer
    position relative

    &:after
        content ''
        position absolute
        display flex
        bottom -3px
        left 0
        height 1px
        width 100%
        transform scale(0) translateZ(0)
        opacity 0
        transform-origin 50% 0
        background-color $color-accent
        transition transform .25s ease-in, opacity .25s ease-in

    &:hover:after
        transform scale(1) translateZ(0)
        opacity 1






