.carousel
    display flex

    &__item
        background-size cover
        background-repeat no-repeat
        background-position center center
        position relative
        display flex
        flex-direction column
        justify-content space-between
        height 100%

        &:before
            content ''
            position absolute
            top 0
            left 0
            height 100%
            width 100%
            background $gallery-item-hover-bg
            z-index 0
            opacity 0
            transition opacity .25s ease-in
            transform translateZ(0)

        &:hover:before
            opacity 1

        &:hover
            color $text-color

            .carousel__item-text
                opacity 1
                transform translateZ(0) translateY(0)

        &-text,
        &-number
            position relative
            z-index 1
            padding 3.3333333333333335rem

        &-number
            font-weight bold
            font-size 3.6rem

        &-text
            opacity 0
            transition opacity .25s ease-in, transform .25s ease-in
            transform translateZ(0) translateY(6.666666666666667rem)
            padding-bottom 5rem


            & > h3
                margin 0
                font-size $input-font-size


.owl-nav.disabled
    display none

.no-js .owl-carousel,
.owl-carousel.owl-loaded
    display flex
    align-items stretch

.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item
    height 100%

.owl-nav
    & .owl-prev
        margin-left $input-font-size

    & .owl-next
        margin-right $input-font-size

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev
    font-size 3.6rem
    position: absolute;
    top: 50%;
    opacity 0
    transition transform .25s ease-in, opacity .25s ease-in

    &:after
        content none

.carousel:hover .owl-nav button.owl-next,
.carousel:hover .owl-nav button.owl-prev
    transform translateZ(0) translateX(0) translateY(-50%)
    opacity 1

.owl-carousel .owl-nav button.owl-prev
    left 0
    transform translateZ(0) translateX(50px) translateY(-50%)

.owl-carousel .owl-nav button.owl-next
    right 0
    transform translateZ(0) translateX(-50px) translateY(-50%)

@media (min-width 992px)
    .carousel .owl-nav button.owl-next,
    .carousel .owl-nav button.owl-prev
        font-size 8.6rem

@media (max-width 991px)
    .carousel .owl-nav button.owl-next,
    .carousel .owl-nav button.owl-prev
        transform translateZ(0) translateX(0)
        opacity 1

    .carousel__item:before
        opacity 1
        background $mobile-gallery-item-bg

    .carousel__item-text
        opacity 1
        transform translateZ(0) translateY(0)

