.year
    position absolute
    top calc(50% - 80px)
    left 1rem
    transform translateY(-50%) rotate(-90deg)
    transform-origin 0 0

.loading
    opacity .45
    cursor wait


.has-line
    display flex

    & .line
        display flex
        width 100%
        border-bottom 2px solid

    & .line-text
        display flex
        flex-shrink 0


@media (max-width 991px)
    .year
        left 2rem
        font-size 1.1rem