.main-header
    position fixed
    top 0
    left 0
    width 100%
    height $header-size
    display flex
    justify-content space-between
    align-items stretch
    z-index 5

    &__menu-logo_mobile
        display none
        align-items center
        justify-content center
        font-weight bold
        font-size 2.3rem
        position absolute
        top 3.33333rem
        left 3.33333rem

    &__nav-close
        display none
        font-size 2.5rem
        position absolute
        top 3.33333rem
        right 3.33333rem

    &__menu_mobile
        display none
        justify-content center
        align-items center
        font-weight bold
        margin-right 3.33333rem
        font-size 2.3rem

    &__logo
        display flex
        align-items stretch
        justify-content stretch

        &_mobile
            display none

        & > a,
        &_mobile > a
            display flex
            align-items center
            justify-content center
            font-weight bold
            font-size 1.5rem

        &_mobile > a
            margin-left 3.33333rem

        & > a
            margin-left 10rem

    &__nav
        display flex
        align-items stretch

        &-wrapper
            display flex
            align-items stretch

        & > ul
            display flex
            align-items center
            list-style none
            padding 0
            margin 0

            & > li
                width calc(100vw / 7)

                &:last-child
                    margin-right 0

        &-close
            display none


.header-top-offset
    margin-top $header-size


@media (max-width 991px)

    .mobile-menu-open .main-header__nav-wrapper
        transform translateX(0)

    .main-header
        height $mobile-header-size
        background: $body-bg

        &__menu-logo_mobile
            display flex

        &__nav-close
            display flex

            &:hover
                color $text-color

        &__menu_mobile
            display flex

        &__logo
            display none

            &_mobile
                display flex

                & > a
                    font-size 2.5rem


        &__nav-wrapper
            position fixed
            background $mobile-menu-bg
            top 0
            right 0
            width 100%
            height 100%
            transition transform .25s ease-in
            transform translateX(100%)

            & ul
                display flex
                flex-direction column
                justify-content center
                align-items flex-start



                & > li
                    width unset
                    margin-bottom 1.5rem
                    margin-left 3.33333rem

                    &:last-child
                        margin-bottom 0

                    & > a
                        font-size 4rem

    .header-top-offset
        margin-top $mobile-header-size