@import 'page.styl'
@import 'header.styl'
@import 'link.styl'
@import 'carousel.styl'
@import 'deco.styl'
@import 'input.styl'
@import 'button.styl'
@import 'logo.styl'

.row
    display flex
    width 100%

    & > .col
        display flex
        width 100%

.page-wrapper
    height 100vh
    width 100%
    overflow hidden
    padding 0
    margin 0
    background $body-bg

body
    padding 0
    margin 0
