.input-wrapper
    position relative
    border-bottom 1px solid
    margin-bottom 2.6666666666666665rem
    display block
    transition border-color .25s ease-in
    z-index 1

    &:focus
        outline none

    & input,
    & textarea
        background-color transparent
        border none
        outline none
        box-shadow none
        padding 0
        margin 0
        resize none
        top 0
        left 0
        width 100%
        height 100%
        color $text-color
        font-family 'Source Sans Pro', sans-serif
        font-size $input-font-size

    & input:focus,
    & textarea:focus
        background-color transparent
        border none
        outline none
        box-shadow none

    &.focus
        border-color $color-accent
        color $color-accent

    &.focus,
    &.has-value
        & .input-label
            transform translateY(-50%) scale(.5)


.input-label
    position absolute
    top 0
    left 0
    font-size $input-font-size
    height 100%
    width 100%
    display flex
    align-items flex-end
    font-weight bold
    z-index -1
    transition transform .25s ease-in, color .25s ease-in
    transform translateY(0) scale(1)
    transform-origin 0 0
