a
    font-family $main-font
    text-decoration none
    transition color .15s ease-in, fill .15s ease-in
    color $text-color
    fill $text-color

    &:hover
        color $color-accent
        fill $color-accent
