.logo-img
    position relative
    color rgba(0,0,0,0)

    &:before,
    &:after
        display block
        position absolute
        content ''
        top 0
        left 0
        width 100%
        height 100%
        background-size contain
        background-position center center
        transition opacity .15s ease
        transform translateZ(0)
        background-repeat no-repeat

    &:before
        opacity 1
        background-image url('../../img/logo/logo.png')
        z-index 2

    &:after
        opacity 0
        background-image url('../../img/logo/logo-hover.png')
        z-index 3

    &:hover
        &:before
            opacity 0

        &:after
            opacity 1


